[Unit]
Description=Daily Jauction share blog publisher

[Timer]
OnCalendar=*-*-* 07:00:00
Persistent=true
RandomizedDelaySec=14h
AccuracySec=1m
Unit=jauction-share-blog-publisher.service

[Install]
WantedBy=timers.target
