[Unit]
Description=Jauction share blog publisher watchdog

[Timer]
OnBootSec=10m
OnUnitInactiveSec=20m
Persistent=true
RandomizedDelaySec=10m
AccuracySec=1m
Unit=jauction-share-blog-publisher.service

[Install]
WantedBy=timers.target
